# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

API_URL="https://instalasitraining.mitra10.com/api"
PORT=3039

FE_URL="https://instalasitraining.mitra10.com"

MSSQL_URL="sqlserver://UREA:1433;database=db_name;user=db_user;password=password;trustServerCertificate=true"

USER_SECRET=""
USER_EXPIRED='1d'

REDIS_HOST="united-guinea-51385.upstash.io"
REDIS_PORT=6379
REDIS_USERNAME="default"
REDIS_PASSWORD=""

MAIL_HOST=""
MAIL_DEFAULTS='"Mitra 10 - Instalasi" <noreply@instalasimitra10.com>'
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_BCC_LIST="example1@mail.com,example2@mail.com"