<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <!-- Livechat API -->
        <rule name="LiveChatAPI" stopProcessing="true">
          <match url="^live-chat/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3002/{R:1}" />
        </rule>

        <!-- Handle jika akses /live-chat tanpa slash -->
        <rule name="LiveChatRoot" stopProcessing="true">
          <match url="^live-chat$" />
          <action type="Rewrite" url="http://127.0.0.1:3002/" />
        </rule>

        <!-- Web utama -->
        <rule name="MainApp" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:3039/{R:1}" />
        </rule>

      </rules>
    </rewrite>
  </system.webServer>
</configuration>