doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Preview Email Order

    style.
      #preview-email th, td {
        padding: 5px;
        border: 1px solid black;
        border-collapse: collapse;
      }
      #preview-email .text-end {
        text-align: end;
      }
      #preview-email .text-white {
        color: #ffff;
      }
      #preview-email .normal {
        font-weight: 400;
      }
      #preview-email .semibold {
        font-weight: 600;
      }
      #preview-email .bold {
        font-weight: 700;
      }
      #preview-email {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #preview-email .card {
        width: 900px;
      }
      #preview-email .card .card-body {
        min-height: 100vh;
        padding: 3rem !important;
      }
      #preview-email .card-header {
        display: block !important;
        padding: 50px;
        background-color: #183383;
        min-height: 80px;
      }
      #preview-email .card-header .header-information .header-title h3 {
        margin: 5px;
      }
      #preview-email .card-header .content-header {
        display: flex;
        justify-content: space-between;
      }
      #preview-email .card-header .content-header .header-information .header-logo {
        display: flex;
        align-items: center;
      }
      #preview-email .card-body .detail-pemesanan {
        margin-bottom: 20px;
      }
      #preview-email .card-body .detail-pemesanan h4 {
        margin: 5px 0px 5px 0;
        padding: 0px;
      }
      #preview-email table.table-detail-pemesanan {
        width: 100%;
        margin-bottom: 20px;
      }
      #preview-email .detail-syarat ol li {
        margin: 0px 0px 15px 0px;
      }
      #preview-email .card-footer .bank-payment h5 {
        margin: 15px;
        padding: 0px;
      }
      #preview-email .card-footer .payment-evidence h5 {
        margin: 15px;
        padding: 0px;
      }
      @media screen and (max-width: 576px) {
        #preview-email .card-header .content-header {
          display: flex;
          flex-direction: column;
        }
      }

  body
    section#preview-email
      .card
        .card-header
          .content-header
            .header-information
              .header-logo
                img.h-30px.logo.mb-3.pe-1(src='https://seeklogo.com/images/M/mitra-10-logo-5C2346D8FD-seeklogo.com.png', alt='Logo Mitra10', style='width: 100px; height: 50px')
                h2.ps-1.fs-5.fw-bold.text-white Instalasi & Service Mitra 10
            .header-information
              .header-title
                h3.bold.text-white Tanggal Order :
                  span.normal.text-white 17/04/2024
                h3.bold.text-white Order ID :
                  span.normal.text-white 17/04/2024
        .card-body
          .title
            h3 Detail Pemesanan
          .detail-pemesanan
            h4.normal Order ID : 
              span.semibold 1
            h4.normal Nomor Receipt : 
              span.semibold 20RDER
            h4.normal Tipe Pembayaran : 
              span.semibold Berbayar & Pemasangan Tanpa Survey
          table.table-detail-pemesanan
            tr
              th Item Code
              th Item Name
              th Nama Jasa Pemasangan
              th QTY Pemasangan
              if data.order.payment_type !== 'gratis' && data.order.payment_type !== 'survey'
                  th Harga Jasa
                  th Jumlah
            tr
              td 5100016
              td Cuci AC
              td Pemasangan Cuci AC
              td 1
              td Rp. 65.000
              td Rp. 65.000
            tr
              td(colspan='5', class='text-end') Grand Total
              td Rp. 65.000
          .title
            h3 Detail Pemasangan
          .detail-pemesanan
            h4.normal Nama Customer : 
              span.semibold Pak Raiza
            h4.normal Alamat : 
              span.semibold Jalan Kebangsaan No. 17
            h4.normal Telp : 
              span.semibold 0812345678
          .title
            h4.bold Syarat & Ketentuan
          .detail-syarat
            ol
              li Jadwal survey/pengerjaan akan ditentukan oleh teknisi, setelah material tersedia dan barang diterima customer, serta barang yang akan dikerjakan jasa instalasi adalah barang dari Mitra10.
              li Penjadwalan ulang pada H-1 tidak dikenakan biaya, penjadwalan ulang pada hari H akan dikenakan biaya tambahan minimal sebesar Rp 75.000.
              li Pekerjaan tambahan (Pekerjaan diluar yang sudah diajukan & di transaksikan) akan dikenakan biaya tambahan.
              li Semua jasa pemasangan wajib dilakukan survey. Biaya survey akan dikembalikan apabila biaya jasa instalasi/service minimal Rp 500.000.
              li Quotation diberikan kepada customer maksimal H+2 hari kerja setelah survey selesai.
              li Garansi 7 (Tujuh) hari untuk instalasi/service terhitung sejak tanggal serah terima pekerjaan dan hanya 1x kunjungan. Kerusakan produk yang terpasang, tidak menjadi bagian garansi dan proses instalasi/service.
              li Biaya transportasi, jarak dari toko Mitra10 lokasi pengerjaan kurang dari 10KM adalah FREE : Lebih dari 10KM dikenakan biaya transportasi Rp 25.000 Max 40KM
          .title
            h4.bold Informasi
          .detail-syarat
            ol
              li Kontak layanan pelanggan Instalasi/Service (WA Only) : 0878-8482-1089.
              li Operasional hari senin s/d jumat - Office hour 09:00 s/d 16:00.
              li Orderan instalasi/service yang masuk diluar jam operasional akan diproses pada jam operasional.
        .card-footer
          .bank-payment
            h4 Silahkan melakukan pembayaran di account di bawah ini :
            h5 BCA - Bank Rupiah (CMSS)
            h5 Catur Mitra Sejati Sentosa
            h5 801-58-55831
          .payment-evidence
            h4 Silahkan kirim bukti bayar anda melalui :
            h5 Telp : 0878-8210-5748
            h5 Email : store@example.com
            h5 801-58-55831
          .footer-title
            h4.bold Hormat Kami, Mitra10
